.fa-plus {
    color: white;
}

.navbar-text {
    color: white !important;
}

#pageNav.active {
    background-color: grey !important;
}

.nav-pad {
    padding-top: 55px;
}

#modules.nav-item {
    color: white !important;
}

a.nav-link {
    color: white !important;

}

.view-height {
    height: 100%;
}
.yellow-square {
    color: yellow !important;
}

.red-square {
    color: red !important;
}

.fa-arrow-up, .fa-arrow-down {
    color: black !important;
}

.fa-times {
    color: white !important;
}